.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 60%;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #5f79e1;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__img {
  max-height: 50vh;
  max-width: 100%;
}

/* Hacky, but needed for 1:1 aspect ratio on pictures in the gallery */
.gallery-img {
  /* Should be 100% - gallery description height (32px + 1em), for some reason, 3 more px are needed to be 1:1 */
  padding-top: calc(100% - 35px - 1em);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-img--1 {
  background-image: url("../img/gallery_applock.png");
}

.gallery-img--2 {
  background-image: url("../img/gallery_corda.png");
}

.gallery-img--3 {
  background-image: url("../img/gallery_tornadofx.png");
}

.gallery-img--4 {
  background-image: url("../img/gallery_coursera.png");
}

.gallery-img--5 {
  background-image: url("../img/gallery_intellij_koans.png");
}

.gallery-img--6 {
  background-image: url("../img/gallery_trello.jpg");
}

.gallery-img--7 {
  background-image: url("../img/gallery_kotlinconf.png");
}

.gallery-img--8 {
  background-image: url("../img/gallery_kotlinconf2.png");
}

.gallery-img--9 {
  background-image: url("../img/gallery_kotlinnative.png");
}

.gallery-description {
  width: calc(100% - 32px);
  padding: 16px;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  margin: 0;
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

@media (max-width: 599px) {
  .modal__container {
    max-width: 100%;
    width: 100vw;
    padding: 30px;
    margin: 0;
  }
}
